<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Application de Messagerie</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            

            <!-- Barre de recherche -->
            <div class="search-bar">
                <input type="text" placeholder="Rechercher..."/>
                <button class="bouton">Rechercher</button>
            </div>

            <!-- Liste des contacts -->
            <div class="chat-list">
                <div class="chat-list-item"> 
                    <img src="avatar.png" class="profil" alt="Avatar">
                    <div class="text-content">
                        <div class="name"><a href="#conversation1" class="contact">Salim</a></div>
                        <div class="last-message">Dernier message...</div>
                        <div class="time">13:45</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="java.js"></script>
</body>
</html>
