body {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/bg_png.jpeg");
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 550px;
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.menu a:hover {
    background-color: #f9f9f9;
}

.chat-list {
    flex-grow: 1;
    padding: 10px;
}

.chat-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chat-list-item:hover {
    background-color: #f9f9f9;
}

.top-bar {
    width: calc(100% - 350px);
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
}

.search-bar {
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #07b50a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #07b50a;
}

.profil {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connecte {
    margin-top: -85px; 
    background-color: #07b50a;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 10px;
}

.friend-list-item {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.friend-list-item:hover {
    background-color: #f0f0f0;
}

.add-friend-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-friend-btn:hover {
    background-color: #45a049;
}

.view-friends-link {
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-friends-link:hover {
    background-color: #0056b3;
}

.chat-window {
    background-color: #fff;
    flex-grow: 1;
    margin-top: 10px;
    padding-right: 200px;
    overflow-y: auto;
}

.input-box {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

}

.chat-box {
     border: 50px solid green; 
    position: fixed; /
    top: 0;
    left: 0;
}

.chat-window {
    background-color: #fff;
    flex-grow: 1;
    margin-top: 10px;
    padding-right: 200px;
    overflow-y: auto;
    border: 10px solid rgb(172, 212, 172); 
}

.message-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.chat-area {
    position: fixed;
    bottom: 10px; 
    right: 5px;
    width: 880px;
    z-index: 1000;
}

.image-survol {
    width: 300px;
    transition: transform 0.5s ease;
    margin-top: 100px;
    margin-left: 100px;
  }
  
.image-survol:hover {
    filter: brightness(50%) invert(1);
  }


  