<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="menu">
                <!-- Bouton ajout d'amis -->
                <a href="javascript:void(0);" onclick="addFriend()">
                    <img src="{{ url_for('static', filename='images/add_friend.png') }}" alt="Ajouter ami" style="cursor: pointer;">
                </a>
                <!-- Affichage de la liste d'amis-->
                <a href="javascript:void(0);" onclick="viewFriends()">
                    <img src="{{ url_for('static', filename='images/profil.png') }}" alt="Liste d'amis" style="cursor: pointer;">
                </a>
                <a href="javascript:void(0);" onclick="startNewConversation()">
                    <img src="{{ url_for('static', filename='images/write.png') }}" alt="Écrire message" id="openPopupImage" style="cursor: pointer;">
                </a>
            </div>
            <div id="popup" style="display:none; position: fixed; left: 27%; top: 10%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border: 1px solid black;">   
            </div>

            <!-- Classe  de la bare de Rechercher -->
            <div class="search-bar">
                <input type="text" placeholder="Rechercher..."/>
                <button class="bouton">Rechercher</button>
            </div>
            <!-- Liste des contacts -->
            <img src="{{ url_for('static', filename='images/logo_page_co.png') }}" class="image-survol" alt="Logo">
        
        </div>
      
        <div class="chat-area">
            
            <div class="chat-window" id="chat-box">
            </div>
            <div class="message-input" style='background-color: grey; width: 80%cm; padding: 10px;'>
                <input type="text" id="message-input" placeholder="Tapez votre message ici..." style='width: 80%; padding: 8px; margin-right: 10px; border-radius: 4px; border: none;'>
                <button onclick="sendMessage()" style='padding: 10px; border-radius: 4px; border: none; background-color: #4CAF50; color: white;'>Envoyer</button>
            </div>
        </div>

       
      
        <div class="connecte">
            <p>Connecté en tant que : {{ session['username'] }}</p>
        </div>
    
        <script> var loggedInUsername = "{{ username }}"; </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    </div>
</body>
</html>