<!-- templates/login.html -->

{% extends 'index.html' %}

{% block content %}
  <h2>Connexion</h2>
  <form action="{{ url_for('login') }}" method="post">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Se connecter</button>
  </form>
  <a href="{{ url_for('register') }}">Créer un compte</a>
{% endblock %}
