/* Style pour la pop-up */
.popup {
    display: none;
    position: fixed; /* ou 'absolute' si vous voulez que la pop-up défile avec la page */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000; /* S'assurer qu'elle est au-dessus des autres éléments */
}

.popup:target {
    display: block; /* Affiche la pop-up lorsque son ID est ciblé */
}

.popup-content {
    position: relative;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 24px;
    color: #333;
}
